:root {
  --white: #ffffff;
  --light-gray: #dddddd;
  --gray: #c0c0c0;
  --med-gray: #808080;
  --dark-gray: #424242;
  --black: #000000;

  --border-color: var(--white) var(--dark-gray) var(--dark-gray) var(--white);
}

body {
  background-color: var(--gray);
  height: 100vh;
  overflow: hidden;
  width: 100%;
  margin: 0;
}
